{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'base/img/favicon.png' %}"/>

        <!-- Bootstrap-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'base/css/stylesMain.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/sb-admin.css' %}"/>

        <script src="{% static 'base/js/d3.min.js' %}"></script>
        <script src="{% static 'base/js/charts.js' %}"></script>
        <script src="{% static 'base/js/sb-admin.js' %}"></script>

    </head>
    <body id="page-top">
            <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/">Analize it</a>

      <form method="GET" action="/main/" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" name="q" class="form-control" required placeholder="user/repository" aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </nav>

    <div id="wrapper">
    <ul class="sidebar navbar-nav">
        {% if request.path == '/main/' %}
            <li class="nav-item active">
        {% else %}
            <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="/main/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Main</span>
          </a>
        </li>
        {% if request.path == '/charts/' %}
            <li class="nav-item active">
        {% else %}
            <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="/charts/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>
        {% if request.path == '/about/' %}
            <li class="nav-item active">
        {% else %}
            <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="https://github.com/danielcarpio/Visualizacion-de-graficas-en-la-Ingenieria-del-Software">
            <i class="fas fa-fw fa-info"></i>
            <span>About</span></a>
        </li>
      </ul>

        <div id="content-wrapper">
            <div class="container-fluid">

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Bar charts (Horizontal)
    </div>
    <div class="card-body">
        <div id="graficoUno"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoUno").clientWidth - parseInt($("#graficoUno").css('padding-left'), 10) - parseInt($("#graficoUno").css('padding-right'), 10);
        horizontalBarGraph("#graficoUno", width, width*0.4, `{
                "title": "Title",
                "subtitle": "Subtitle",
                "desc": "Description",
                "data": [
                {
                    "label": "Label 1",
                    "value": 1,
                    "color": "#000000"
                },{
                    "label": "Label 2",
                    "value":2,
                    "highlight":true
                },{
                    "label": "Label 3",
                    "value":5
                }
            ]}`);
        $(window).resize(function(){
            document.getElementById("graficoUno").innerHTML = "";
            width = document.getElementById("graficoUno").clientWidth - parseInt($("#graficoUno").css('padding-left'), 10) - parseInt($("#graficoUno").css('padding-right'), 10);
            horizontalBarGraph("#graficoUno", width, width*0.4, `{
                "title": "Title",
                "subtitle": "Subtitle",
                "desc": "Description",
                "data": [
                {
                    "label": "Label 1",
                    "value": 1,
                    "color": "#000000"
                },{
                    "label": "Label 2",
                    "value":2,
                    "highlight":true
                },{
                    "label": "Label 3",
                    "value":5
                }
            ]}`)
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Bar charts (Horizontal and no space)
    </div>
    <div class="card-body">
        <div id="graficoTres"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoTres").clientWidth - parseInt($("#graficoTres").css('padding-left'), 10) - parseInt($("#graficoTres").css('padding-right'), 10);
        horizontalBarGraphNoSpace("#graficoTres", width, width*0.4, `{
                "title": "Title",
                "subtitle": "Subtitle",
                "desc": "Description",
                "data": [
                {
                    "label": "Label 1",
                    "value": 1,
                    "color": "#000000"
                },{
                    "label": "Label 2",
                    "value":2,
                    "highlight":true
                },{
                    "label": "Label 3",
                    "value":5
                }
            ]}`);
        $(window).resize(function(){
            document.getElementById("graficoTres").innerHTML = "";
            width = document.getElementById("graficoTres").clientWidth - parseInt($("#graficoTres").css('padding-left'), 10) - parseInt($("#graficoTres").css('padding-right'), 10);
            horizontalBarGraphNoSpace("#graficoTres", width, width*0.4, `{
                "title": "Title",
                "subtitle": "Subtitle",
                "desc": "Description",
                "data": [
                {
                    "label": "Label 1",
                    "value": 1,
                    "color": "#000000"
                },{
                    "label": "Label 2",
                    "value":2,
                    "highlight":true
                },{
                    "label": "Label 3",
                    "value":5
                }
            ]}`)
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Bar charts (Vertical)
    </div>
    <div class="card-body">
        <div id="graficoDos"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoDos").clientWidth - parseInt($("#graficoDos").css('padding-left'), 10) - parseInt($("#graficoDos").css('padding-right'), 10);
        verticalBarGraph("#graficoDos", width, width*0.4, `{
                "title": "Title",
                "subtitle": "Subtitle",
                "desc": "Description",
                "data": [
                {
                    "label": "Label 1",
                    "value": 1,
                    "color": "#000000"
                },{
                    "label": "Label 2",
                    "value":2,
                    "highlight":true
                },{
                    "label": "Label 3",
                    "value":5
                }
            ]}`);
        $(window).resize(function(){
            document.getElementById("graficoDos").innerHTML = "";
            width = document.getElementById("graficoDos").clientWidth - parseInt($("#graficoDos").css('padding-left'), 10) - parseInt($("#graficoDos").css('padding-right'), 10);
            verticalBarGraph("#graficoDos", width, width*0.4, `{
                "title": "Title",
                "subtitle": "Subtitle",
                "desc": "Description",
                "data": [
                {
                    "label": "Label 1",
                    "value": 1,
                    "color": "#000000"
                },{
                    "label": "Label 2",
                    "value":2,
                    "highlight":true
                },{
                    "label": "Label 3",
                    "value":5
                }
            ]}`)
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Bar charts (Vertical and no space)
    </div>
    <div class="card-body">
        <div id="graficoCuatro"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoCuatro").clientWidth - parseInt($("#graficoCuatro").css('padding-left'), 10) - parseInt($("#graficoCuatro").css('padding-right'), 10);
        verticalBarGraphNoSpace("#graficoCuatro", width, width*0.4, `{
                "title": "Title",
                "subtitle": "Subtitle",
                "desc": "Description",
                "data": [
                {
                    "label": "Label 1",
                    "value": 1,
                    "color": "#000000"
                },{
                    "label": "Label 2",
                    "value":2,
                    "highlight":true
                },{
                    "label": "Label 3",
                    "value":5
                }
            ]}`);
        $(window).resize(function(){
            document.getElementById("graficoCuatro").innerHTML = "";
            width = document.getElementById("graficoCuatro").clientWidth - parseInt($("#graficoCuatro").css('padding-left'), 10) - parseInt($("#graficoCuatro").css('padding-right'), 10);
            verticalBarGraphNoSpace("#graficoCuatro", width, width*0.4, `{
                "title": "Título",
                "subtitle": "Subtítulo",
                "desc": "Descripción",
                "data": [
                {
                    "label": "Etiqueta 1",
                    "value": 1,
                    "color": "#000000"
                },{
                    "label": "Etiqueta 2",
                    "value":2,
                    "highlight":true
                },{
                    "label": "Etiqueta 3",
                    "value":5
                }
            ]}`)
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Dot charts
    </div>
    <div class="card-body">
        <div id="graficoCinco"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoCinco").clientWidth - parseInt($("#graficoCinco").css('padding-left'), 10) - parseInt($("#graficoCinco").css('padding-right'), 10);
        dotChart("#graficoCinco", width, width*0.4, `
        {
            "title": "Title",
	        "subtitle": "Subtitle",
            "desc": "Description",
	        "data": [
		        {
            		"label": "Label 1",
		            "values": [
        			    {"x": 1,"y": 1},{"x": 2,"y": 2},{"x": 3,"y": 3}
			        ]
            	},{
		            "label": "Label 2",
            		"values": [
            			{"x": 1,"y": 1},{"x": 4,"y": 4},{"x": 2,"y": 3}
			        ]
        		},{
		            "label": "Label 3",
            		"values": [
            			{"x": 1,"y": 1},{"x": 2,"y": 1},{"x": 4,"y": 2}
			        ]
        		},{
		            "label": "Label 4",
            		"values": [
            			{"x": 2,"y": 2},{"x": 5,"y": 5},{"x": 5,"y": 4}
			        ]
        		}
        	]
        }
        `);
        $(window).resize(function(){
            document.getElementById("graficoCinco").innerHTML = "";
            width = document.getElementById("graficoCinco").clientWidth - parseInt($("#graficoCinco").css('padding-left'), 10) - parseInt($("#graficoCinco").css('padding-right'), 10);
            dotChart("#graficoCinco", width, width*0.4, `
            {
                "title": "Title",
	            "subtitle": "Subtitle",
                "desc": "Description",
	            "data": [
		        {
            		"label": "Label 1",
		            "values": [
        			    {"x": 1,"y": 1},{"x": 2,"y": 2},{"x": 3,"y": 3}
			        ]
            	},{
		            "label": "Label 2",
            		"values": [
            			{"x": 1,"y": 1},{"x": 4,"y": 4},{"x": 2,"y": 3}
			        ]
        		},{
		            "label": "Label 3",
            		"values": [
            			{"x": 1,"y": 1},{"x": 2,"y": 1},{"x": 4,"y": 2}
			        ]
        		},{
		            "label": "Label 4",
            		"values": [
            			{"x": 2,"y": 2},{"x": 5,"y": 5},{"x": 5,"y": 4}
			        ]
        		}
            	]
            }   
            `);
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Line charts
    </div>
    <div class="card-body">
        <div id="graficoSeis"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoSeis").clientWidth - parseInt($("#graficoSeis").css('padding-left'), 10) - parseInt($("#graficoSeis").css('padding-right'), 10);
        lineChart("#graficoSeis", width, width*0.4, `
            {
            	"title": "Title",
	            "subtitle": "Subtitle",
                "desc": "Description",
	            "labels": ["1", "2", "3", "4", "5", "6", "7"],
                "data": [
		            {
            			"label": "Label 1",
			            "values": [1,2,1,2,3,2,1]
            		},{
			            "label": "Label 2",
            			"values": [2,2,1,3,3,2,2]
            		},{
			            "label": "Label 3",
            			"values": [3,1,2,1,3,2,3]
            		},{
			            "label": "Label 4",
            			"values": [1,2,3,5,3,2,4]
            		}
            	]
            }
        `);
        $(window).resize(function(){
            document.getElementById("graficoSeis").innerHTML = "";
            width = document.getElementById("graficoSeis").clientWidth - parseInt($("#graficoSeis").css('padding-left'), 10) - parseInt($("#graficoSeis").css('padding-right'), 10);
            lineChart("#graficoSeis", width, width*0.4, `
            {
            	"title": "Title",
	            "subtitle": "Subtitle",
                "desc": "Description",
	            "labels": ["1", "2", "3", "4", "5", "6", "7"],
                "data": [
		            {
            			"label": "Label 1",
			            "values": [1,2,1,2,3,2,1]
            		},{
			            "label": "Label 2",
            			"values": [2,2,1,3,3,2,2]
            		},{
			            "label": "Label 3",
            			"values": [3,1,2,1,3,2,3]
            		},{
			            "label": "Label 4",
            			"values": [1,2,3,5,3,2,4]
            		}
            	]
            }
            `);
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Box plot (Horizontal)
    </div>
    <div class="card-body">
        <div id="graficoSiete"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoSiete").clientWidth - parseInt($("#graficoSiete").css('padding-left'), 10) - parseInt($("#graficoSiete").css('padding-right'), 10);
        horizontalBoxPlot("#graficoSiete", width, width*0.4, `
            {
	            "title": "Title",
	            "subtitle": "Subtitle",
                "desc": "Description",
            	"data": [
        		{
		        	"label": "Label 1",
        			"values": {
        				"median": 3,
        				"q1": 2,
        				"q3": 8,
        				"min": 1,
        				"max": 10			
        			}
        		},
        		{
        			"label": "Label 2",
        			"values": {
        				"median": 5,
        				"q1": 4,
        				"q3": 6,
        				"min": 3,
        				"max": 7,
        				"outliers": [1,10]			
        			}        		
                },
        		{
        			"label": "Label 3",
        			"values": {
        				"median": 5,
        				"q1": 4,
        				"q3": 6,
        				"min": 3,
        				"max": 7			
        			}
        		}
        	]
        }
        `);
        $(window).resize(function(){
            document.getElementById("graficoSiete").innerHTML = "";
            width = document.getElementById("graficoSiete").clientWidth - parseInt($("#graficoSiete").css('padding-left'), 10) - parseInt($("#graficoSiete").css('padding-right'), 10);
            horizontalBoxPlot("#graficoSiete", width, width*0.4, `
            {
	            "title": "Title",
	            "subtitle": "Subtitle",
                "desc": "Description",
            	"data": [
        		{
		        	"label": "Label 1",
        			"values": {
        				"median": 3,
        				"q1": 2,
        				"q3": 8,
        				"min": 1,
        				"max": 10			
        			},
        		},
        		{
        			"label": "Label 2",
        			"values": {
        				"median": 5,
        				"q1": 4,
        				"q3": 6,
        				"min": 3,
        				"max": 7,
        				"outliers": [1,10]			
        			}
        		},
        		{
        			"label": "Label 3",
        			"values": {
        				"median": 5,
        				"q1": 4,
        				"q3": 6,
        				"min": 3,
        				"max": 7			
        			}
        		}
        	]
        }
            `);
        });
    });
</script>


<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Box plot (Vertical)
    </div>
    <div class="card-body">
        <div id="graficoOcho"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoOcho").clientWidth - parseInt($("#graficoOcho").css('padding-left'), 10) - parseInt($("#graficoOcho").css('padding-right'), 10);
        verticalBoxPlot("#graficoOcho", width, width*0.4, `
            {
	            "title": "Title",
	            "subtitle": "Subtitle",
                "desc": "Description",
            	"data": [
        		{
		        	"label": "Label 1",
        			"values": {
        				"median": 3,
        				"q1": 2,
        				"q3": 8,
        				"min": 1,
        				"max": 10			
        			}
        		},
        		{
        			"label": "Label 2",
        			"values": {
        				"median": 5,
        				"q1": 4,
        				"q3": 6,
        				"min": 3,
        				"max": 7,
        				"outliers": [1,10]			
        			}        		
                },
        		{
        			"label": "Label 3",
        			"values": {
        				"median": 5,
        				"q1": 4,
        				"q3": 6,
        				"min": 3,
        				"max": 7			
        			}
        		}
        	]
        }
        `);
        $(window).resize(function(){
            document.getElementById("graficoOcho").innerHTML = "";
            width = document.getElementById("graficoOcho").clientWidth - parseInt($("#graficoOcho").css('padding-left'), 10) - parseInt($("#graficoOcho").css('padding-right'), 10);
            verticalBoxPlot("#graficoOcho", width, width*0.4, `
            {
	            "title": "Title",
	            "subtitle": "Subtitle",
                "desc": "Description",
            	"data": [
        		{
		        	"label": "Label 1",
        			"values": {
        				"median": 3,
        				"q1": 2,
        				"q3": 8,
        				"min": 1,
        				"max": 10			
        			},
        		},
        		{
        			"label": "Label 2",
        			"values": {
        				"median": 5,
        				"q1": 4,
        				"q3": 6,
        				"min": 3,
        				"max": 7,
        				"outliers": [1,10]			
        			}
        		},
        		{
        			"label": "Label 3",
        			"values": {
        				"median": 5,
        				"q1": 4,
        				"q3": 6,
        				"min": 3,
        				"max": 7			
        			}
        		}
        	]
        }
            `);
        });
    });
</script>


<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Grouped Bar Chart (Horizontal)
    </div>
    <div class="card-body">
        <div id="graficoNueve"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoNueve").clientWidth - parseInt($("#graficoNueve").css('padding-left'), 10) - parseInt($("#graficoNueve").css('padding-right'), 10);
        groupedHorizontalBarChart("#graficoNueve", width, width*0.4, `
        {
            	"title": "Title",
            	"subtitle": "Subtitle",
            	"legend": ["Label in legend 1","Label in legend 2","Label in legend 3", "Label in legend 4"],
            	"data": [
            		{
            			"label": "Label 1",
            			"values": [1,2,2,1]
            		},
            		{
            			"label": "Label 2",
            			"values": [2,3,1,2]
            		},
            		{
            			"label": "Label 3",
            			"values": [1,5,1,3]
            		}
            	]
            }
        `);
        $(window).resize(function(){
            document.getElementById("graficoNueve").innerHTML = "";
            width = document.getElementById("graficoNueve").clientWidth - parseInt($("#graficoNueve").css('padding-left'), 10) - parseInt($("#graficoNueve").css('padding-right'), 10);
            groupedHorizontalBarChart("#graficoNueve", width, width*0.4, `
            {
            	"title": "Title",
            	"subtitle": "Subtitle",
            	"legend": ["Label in legend 1","Label in legend 2","Label in legend 3", "Label in legend 4"],
            	"data": [
            		{
            			"label": "Label 1",
            			"values": [1,2,2,1]
            		},
            		{
            			"label": "Label 2",
            			"values": [2,3,1,2]
            		},
            		{
            			"label": "Label 3",
            			"values": [1,5,1,3]
            		}
            	]
            }
            `);
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Grouped Bar Chart (Vertical)
    </div>
    <div class="card-body">
        <div id="graficoDiez"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoDiez").clientWidth - parseInt($("#graficoDiez").css('padding-left'), 10) - parseInt($("#graficoDiez").css('padding-right'), 10);
        groupedVerticalBarChart("#graficoDiez", width, width*0.4, `
        {
            	"title": "Title",
            	"subtitle": "Subtitle",
            	"legend": ["Label in legend 1","Label in legend 2","Label in legend 3", "Label in legend 4"],
            	"data": [
            		{
            			"label": "Label 1",
            			"values": [1,2,2,1]
            		},
            		{
            			"label": "Label 2",
            			"values": [2,3,1,2]
            		},
            		{
            			"label": "Label 3",
            			"values": [1,5,1,3]
            		}
            	]
            }
        `);
        $(window).resize(function(){
            document.getElementById("graficoDiez").innerHTML = "";
            width = document.getElementById("graficoDiez").clientWidth - parseInt($("#graficoDiez").css('padding-left'), 10) - parseInt($("#graficoDiez").css('padding-right'), 10);
            groupedVerticalBarChart("#graficoDiez", width, width*0.4, `
            {
            	"title": "Title",
            	"subtitle": "Subtitle",
            	"legend": ["Label in legend 1","Label in legend 2","Label in legend 3", "Label in legend 4"],
            	"data": [
            		{
            			"label": "Label 1",
            			"values": [1,2,2,1]
            		},
            		{
            			"label": "Label 2",
            			"values": [2,3,1,2]
            		},
            		{
            			"label": "Label 3",
            			"values": [1,5,1,3]
            		}
            	]
            }
            `);
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Grouped Box Plot (Horizontal)
    </div>
    <div class="card-body">
        <div id="graficoOnce"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoOnce").clientWidth - parseInt($("#graficoOnce").css('padding-left'), 10) - parseInt($("#graficoOnce").css('padding-right'), 10);
        groupedHorizontalBoxPlot("#graficoOnce", width, width*0.4, `
        {
                "title": "Title",
                "subtitle": "Subtitle",
                "legend": ["Label in legend 1", "Label in legend 2"],
                "data": [
                    {
                        "label": "Label 1",
                        "values": [
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 1,
			                    "max": 7
                            },
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7,
                                "outliers": [1,10]                                    
                            }
                        ]
                    },
                    {
                        "label": "Label 2",
                        "values": [
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7
                            },
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7,
                                "outliers": []                                    
                            }
                        ]                    
                    }
                ]
            }`);
        $(window).resize(function(){
            document.getElementById("graficoOnce").innerHTML = "";
            width = document.getElementById("graficoOnce").clientWidth - parseInt($("#graficoOnce").css('padding-left'), 10) - parseInt($("#graficoOnce").css('padding-right'), 10);
            groupedHorizontalBoxPlot("#graficoOnce", width, width*0.4, `
            {
                "title": "Title",
                "subtitle": "Subtitle",
                "legend": ["Label in legend 1", "Label in legend 2"],
                "data": [
                    {
                        "label": "Label 1",
                        "values": [
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 1,
			                    "max": 7
                            },
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7,
                                "outliers": [1,10]                                    
                            }
                        ]
                    },
                    {
                        "label": "Label 2",
                        "values": [
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7
                            },
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7,
                                "outliers": []                                    
                            }
                        ]                    
                    }
                ]
            }
            `);
        });
    });
</script>

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Grouped Box Plot (Vertical)
    </div>
    <div class="card-body">
        <div id="graficoDoce"></div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "D d-M-Y H:i" %}</div>
</div>
<script>
    $(document).ready(function(){
        var width = document.getElementById("graficoDoce").clientWidth - parseInt($("#graficoDoce").css('padding-left'), 10) - parseInt($("#graficoDoce").css('padding-right'), 10);
        groupedVerticalBoxPlot("#graficoDoce", width, width*0.4, `
        {
                "title": "Title",
                "subtitle": "Subtitle",
                "legend": ["Label in legend 1", "Label in legend 2"],
                "data": [
                    {
                        "label": "Label 1",
                        "values": [
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 1,
			                    "max": 7
                            },
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7,
                                "outliers": [1,10]                                    
                            }
                        ]
                    },
                    {
                        "label": "Label 2",
                        "values": [
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7
                            },
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7,
                                "outliers": []                                    
                            }
                        ]                    
                    }
                ]
            }`);
        $(window).resize(function(){
            document.getElementById("graficoDoce").innerHTML = "";
            width = document.getElementById("graficoDoce").clientWidth - parseInt($("#graficoDoce").css('padding-left'), 10) - parseInt($("#graficoDoce").css('padding-right'), 10);
            groupedVerticalBoxPlot("#graficoDoce", width, width*0.4, `
            {
                "title": "Title",
                "subtitle": "Subtitle",
                "legend": ["Label in legend 1", "Label in legend 2"],
                "data": [
                    {
                        "label": "Label 1",
                        "values": [
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 1,
			                    "max": 7
                            },
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7,
                                "outliers": [1,10]                                    
                            }
                        ]
                    },
                    {
                        "label": "Label 2",
                        "values": [
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7
                            },
                            {
                                "median": 5,
			                    "q1": 4,
                				"q3": 6,
			                    "min": 3,
			                    "max": 7,
                                "outliers": []                                    
                            }
                        ]                    
                    }
                ]
            }
            `);
        });
    });
</script>
{% include "../footer.html" %}